#parse("header.vm")
#set($nav="about")
#parse("navbar.vm")

    <div class="jumbotron">
      <div class="container">
        <h1>OGC Linked Data Registry <a href="http://www.example.org"><img class="pull-right" src="/ui/img/OGC.jpg" alt="Open Geospatial Consortium" name="logoOGC" height="100" border="5"></img></a></h1>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <p>This is a service to provide management and public access to controlled vocabularies, modularized specifications, documents and linked data resources.</p>
        <p>It is based on the UKGovLD <a href="https://github.com/UKGovLD/ukl-registry-poc/wiki">proof-of-concept design</a> for a Linked Data registry.</p>
      </div>
      <div class="row">
        <p>For more information, <a href="mailto:ogc-na@lists.opengeospatial.org">email us</a>.</p>
      </div>

    ## container will be closed by footer

#parse("footer.vm")
