#parse("header.vm")
#set($nav="about")
#parse("navbar.vm")

    <div class="jumbotron">
      <div class="container">
        <h1>Environment definitions <a href="http://www.example.org"><img class="pull-right" src="/ui/img/Australian-Government-400-220.jpg" alt="Australian Government" name="Australian-Government" height="100" border="5"></img></a></h1>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <p>This is a service to provide public access to controlled vocabularies and linked data resources managed for environment.data.gov.au.</p>
        <p>It is based on the UKGovLD <a href="https://github.com/UKGovLD/ukl-registry-poc/wiki">proof-of-concept design</a> for a Linked Data registry.</p>
      </div>
      <div class="row">
        <p>For more information, <a href="mailto:agldwg-all@lists.csiro.au">email us</a>.</p>
      </div>

    ## container will be closed by footer

#parse("footer.vm")
